body {
  height: 100vh;
  position: relative;
}

body,
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.container {
  position: absolute;
  height: min-content;
}

.message__container {
  z-index: 5;
}
